<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Memory Game</title>
  <link rel="shortcut icon" href="ms-teams-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="memory-game/memoryGame.css">
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
</head>
<body>

  <!-- Play Again Button -->
  <div class="modal">
    <div class="modalContent">
      <p class="modalText"></p>
      <button class="playAgain">Play Again</button>
    </div>
  </div>


  <div class="container">
    <!-- Game Heading -->
    <header>
      <h1>Memory Game</h1>
    </header>

    <!-- Score Card -->
    <section class="score-panel">
      <span class="moves">3</span> Moves
    	<span class="timer"></span>    
      <div class="restart">
     		<i class="fa fa-repeat"></i>
     	</div>
    </section>

    <ul class="deck"></ul>
  </div>

  <!-- Memory Game Script -->
  <script src="memory-game/memoryGame.js"></script>

</body>
</html>
