@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin;*/
  height: 200px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.welcome-teams{
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* BACKGROUND ANIMATION*/
html{
  overflow: hidden;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*-------------------GAME BUTTON------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.game-button {
  font-family: 'Dela Gothic One', cursive;
  position: absolute;
  top: 12%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.gaming-button {
  display: inline-block;
  padding: 10px 15px;
  height: 50px;
  min-width: 100px;
  background: #348AA7;   
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px #348aa7;
  border-bottom: 2px solid #30809b;
}
.gaming-button:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  transition: all 0.1s ease-in;
}
.gaming-button:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}



/* --------- JOIN TEAMS BUTTON --------- */
span.JoinButton:hover {
  text-decoration: none;
}
a {
       background-color: transparent;
    }

 a:hover {
       text-decoration: none;
    }

.JoinButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.TeamJoin{
  position: relative;
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
}
.TeamJoin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  transition: box-shadow 0.5s ease, transform 0.2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}
.TeamJoin:hover::before {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.TeamJoin::after {
  position: relative;
  display: inline-block;
  content: attr(data-title);
  transition: transform 0.2s ease;
  font-weight: bold;
  letter-spacing: 0.01em;
  will-change: transform;
  transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}





